body {
    background-color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-custom {
    background-color: #0d0d0d;
}
    /* change the brand and text color 
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
     change the link color 
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
     change the color of active or hovered links 
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

    */

.jumbostyle {
    color: white;
    height: 50% !important;
    background-image: url(./assets/img/front.jpg);
    background-size: cover;
    position:relative;
    background-position:center;
}

.pooldata {
    margin-top: 5%;
    margin-left: 27%;
    margin-right: 27%;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    /* background-color: #0d0d0d;
        border: 1px solid black;
    border-radius: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23c8c8c8' fill-opacity='0.07'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
*/
}

.target {
}

.target-val {
    font-weight:500;
}


